#   **Google Playstore Apps Data Analysis and Visualization**

#### Import the important libraries

In [70]:
import pandas as pd
import numpy as np
import seaborn as sns

In [71]:
# Import the file from the provided path into a pandas data frame
df = pd.read_csv("C:\\Users\\SirFa\\Downloads\\LinkedIn\\Team344_DataAlchemists\\01 Original Data\\Processed for cleaning.csv")

In [72]:
df.head()

,Date,Temperature,Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),Date1,Month,diff_pressure
0,01-01-2022,37.8,35,12.7,29.7,26.4,36.8,274,0.0,0.0,...,4,27,29.76,29.60,41.4,59.0,41.4,01-01-2022,1,0.17
1,02-01-2022,43.2,32,14.7,29.5,12.8,18.0,240,0.0,0.0,...,4,16,29.67,29.27,35.7,51.0,35.7,02-01-2022,1,0.40
2,03-01-2022,25.7,60,12.7,29.7,8.3,12.2,290,0.0,0.0,...,8,35,30.23,29.26,25.3,38.0,25.3,03-01-2022,1,0.97
3,04-01-2022,9.3,67,0.1,30.4,2.9,4.5,47,0.0,0.0,...,7,35,30.57,30.23,12.7,20.0,12.7,04-01-2022,1,0.34
4,05-01-2022,23.5,30,-5.3,29.9,16.7,23.1,265,0.0,0.0,...,5,13,30.23,29.57,38.0,53.0,38.0,05-01-2022,1,0.66

In [73]:
# View the size of the dataset
df.shape

(3901, 23)

In [74]:
# Insights about the columns of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3901 entries, 0 to 3900
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       3901 non-null   object
 1    Temperature               3901 non-null   float64
 2    Average humidity (%)      3901 non-null   int64
 3    Average dewpoint (°F)     3901 non-null   float64
 4    Average barometer (in)    3901 non-null   float64
 5    Average windspeed (mph)   3901 non-null   float64
 6    Average gustspeed (mph)   3901 non-null   float64
 7    Average direction (°deg)  3901 non-null   int64
 8    Rainfall for month (in)   3901 non-null   float64
 9   Rainfall for year (in)     3901 non-null   float64
 10   Maximum rain per minute   3901 non-null   int64
 11   Maximum temperature (°F)  3901 non-null   float64
 12   Minimum temperature (°F)  3901 non-null   float64
 13   Maximum humidity (%)      3901 non-null   int64
 14   Minimum humidity (%)      3901 non-null   int64
 15   Maximum pressure          3901 non-null   float64
 16   Minimum pressure          3901 non-null   float64
 17   Maximum windspeed (mph)   3901 non-null   float64
 18   Maximum gust speed (mph)  3901 non-null   float64
 19   Maximum heat index (°F)   3901 non-null   float64
 20  Date1                      3901 non-null   object
 21   Month                     3901 non-null   int64
 22   diff_pressure             3901 non-null   float64
dtypes: float64(15), int64(6), object(2)
memory usage: 701.1+ KB

### Observation:
We can see that, there are three data types in this dataset int64, float64 and object

In [75]:
# Check for Null Values Count In Our Dataset
df.isnull().sum()

Date                         0
 Temperature                 0
 Average humidity (%)        0
 Average dewpoint (°F)       0
 Average barometer (in)      0
 Average windspeed (mph)     0
 Average gustspeed (mph)     0
 Average direction (°deg)    0
 Rainfall for month (in)     0
Rainfall for year (in)       0
 Maximum rain per minute     0
 Maximum temperature (°F)    0
 Minimum temperature (°F)    0
 Maximum humidity (%)        0
 Minimum humidity (%)        0
 Maximum pressure            0
 Minimum pressure            0
 Maximum windspeed (mph)     0
 Maximum gust speed (mph)    0
 Maximum heat index (°F)     0
Date1                        0
 Month                       0
 diff_pressure               0
dtype: int64

### Observation:

This indicates that, there are no null/missing values in the dataset.
Also we can see that the column names are preceded by space characters.

In [76]:
df.columns

Index(['Date', ' Temperature', ' Average humidity (%)',
       ' Average dewpoint (°F)', ' Average barometer (in)',
       ' Average windspeed (mph)', ' Average gustspeed (mph)',
       ' Average direction (°deg)', ' Rainfall for month (in)',
       'Rainfall for year (in)', ' Maximum rain per minute',
       ' Maximum temperature (°F)', ' Minimum temperature (°F)',
       ' Maximum humidity (%)', ' Minimum humidity (%)', ' Maximum pressure',
       ' Minimum pressure', ' Maximum windspeed (mph)',
       ' Maximum gust speed (mph)', ' Maximum heat index (°F)', 'Date1',
       ' Month', ' diff_pressure'],
      dtype='object')

In [77]:
# Describe the basic properties of the numerical columns in the dataset such as mean, median, standard deviatio(std)
# This contains 2 column less, since there are 2 date columns
df.describe()

,Temperature,Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,...,Minimum temperature (°F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),Month,diff_pressure
count,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.0,...,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000,3901.000000
mean,44.678288,48.889003,23.139195,29.881415,5.756396,10.008793,216.076134,0.451146,5.488511,0.0,...,31.233479,73.683415,26.021789,30.045993,29.702110,19.837580,33.972417,19.837580,6.398103,0.343807
std,15.330072,17.437897,14.637415,0.250437,4.021888,14.118921,97.665720,0.603524,4.533604,0.0,...,14.127875,20.384069,15.626105,0.258285,0.451818,12.235985,38.637448,12.235985,3.429239,0.407569
min,-12.100000,9.000000,-22.200000,28.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,-27.700000,1.000000,0.000000,29.340000,13.270000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,33.700000,36.000000,12.100000,29.700000,2.700000,4.500000,116.000000,0.050000,0.980000,0.0,...,23.000000,63.000000,15.000000,29.870000,29.560000,13.800000,19.600000,13.800000,3.000000,0.220000
50%,45.200000,47.000000,22.500000,29.900000,4.600000,7.100000,253.000000,0.220000,5.080000,0.0,...,32.800000,81.000000,22.000000,30.020000,29.710000,18.400000,27.600000,18.400000,6.000000,0.290000
75%,58.000000,61.000000,35.500000,30.000000,8.000000,12.100000,282.000000,0.670000,9.050000,0.0,...,41.800000,89.000000,32.000000,30.200000,29.870000,24.200000,34.500000,24.200000,9.000000,0.390000
max,76.300000,94.000000,55.100000,31.000000,26.400000,240.400000,360.000000,4.480000,16.410000,0.0,...,65.700000,100.000000,90.000000,31.200000,30.860000,181.700000,255.300000,181.700000,12.000000,16.600000

In [78]:
df.columns = df.columns.str.strip()
df.columns

Index(['Date', 'Temperature', 'Average humidity (%)', 'Average dewpoint (°F)',
       'Average barometer (in)', 'Average windspeed (mph)',
       'Average gustspeed (mph)', 'Average direction (°deg)',
       'Rainfall for month (in)', 'Rainfall for year (in)',
       'Maximum rain per minute', 'Maximum temperature (°F)',
       'Minimum temperature (°F)', 'Maximum humidity (%)',
       'Minimum humidity (%)', 'Maximum pressure', 'Minimum pressure',
       'Maximum windspeed (mph)', 'Maximum gust speed (mph)',
       'Maximum heat index (°F)', 'Date1', 'Month', 'diff_pressure'],
      dtype='object')

### Treating Duplicate Values in the dataset

In [79]:
df.drop_duplicates(keep='first', inplace=True)

In [80]:
# Reset the index after dropping the duplicates in the dataset
df = df.reset_index(drop = True)

In [81]:
df.shape

(3900, 23)

### Dropping unwanted columns from the dataset
There are 3 columns which are not required for further analysis and will just occupy space, so we should drop them for good.

In [82]:
# drop the column "Maximum rain per minute"
df.drop("Maximum rain per minute", axis=1, inplace=True)

In [83]:
# drop the column "Maximum rain per minute"
df.drop("Date1", axis=1, inplace=True)

In [84]:
# drop the column "Maximum rain per minute"
df.drop("Month", axis=1, inplace=True)

In [87]:
df.info()
#earlier there were 23 columns, now 20, droppping successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3900 non-null   object
 1   Temperature               3900 non-null   float64
 2   Average humidity (%)      3900 non-null   int64
 3   Average dewpoint (°F)     3900 non-null   float64
 4   Average barometer (in)    3900 non-null   float64
 5   Average windspeed (mph)   3900 non-null   float64
 6   Average gustspeed (mph)   3900 non-null   float64
 7   Average direction (°deg)  3900 non-null   int64
 8   Rainfall for month (in)   3900 non-null   float64
 9   Rainfall for year (in)    3900 non-null   float64
 10  Maximum temperature (°F)  3900 non-null   float64
 11  Minimum temperature (°F)  3900 non-null   float64
 12  Maximum humidity (%)      3900 non-null   int64
 13  Minimum humidity (%)      3900 non-null   int64
 14  Maximum pressure          3900 non-null   float64
 15  Minimum pressure          3900 non-null   float64
 16  Maximum windspeed (mph)   3900 non-null   float64
 17  Maximum gust speed (mph)  3900 non-null   float64
 18  Maximum heat index (°F)   3900 non-null   float64
 19  diff_pressure             3900 non-null   float64
dtypes: float64(15), int64(4), object(1)
memory usage: 609.5+ KB

### Encoding into suitable format

In [55]:
# Resetting the index after droping a column
df = df.reset_index(drop = True)

In [56]:
df.to_csv('C:\\Users\\SirFa\\Downloads\\LinkedIn\\Team344_DataAlchemists\\02 Python Cleaning\\Cleaned Dataset.csv')